<h1>Place Yo Order</h1>

<h3>Ingredients List</h3>

<h4>Running Total: {{total}}</h4>

<form>
  {{#each ingredient}}
  <input type="checkbox" name="name">{{name}} ... {{price}} >   <br>
  <input type="checkbox" name="name">{{name}} ... {{price}} >   <br>
  <input type="checkbox" name="name">{{name}} ... {{price}} >   <br>

  <br>
  {{/each}}
  <input type="submit" value="Place Order!">
</form>





